<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Просмотр товара</title>
    <link rel="stylesheet" href="/static/auction.css">.
</head>
<body>
<div class="container">
    <h2>Просмотр товара</h2>
    <div class="item-info">
        <img th:src="${auction.photoUrl}" alt="Изображение товара">
        <p th:text="${auction.title}"></p>
        <p th:text="${auction.description}"></p>
        <p>Текущая ставка: <span th:text="${auction.price}"></span></p>
        <p>Аукцион продлится до: <span th:text="${auction.endDate}"></span></p>
    </div>
    <form method="get" th:action="@{/v1/auction/newBid/{uniqueCode}(uniqueCode=${auction.uniqueCode})}" th:object="${bid}" class="bid-form">
        <div>
            <label for="newBid">Введите вашу ставку:</label>
            <input type="number" name="newBid" id="newBid" th:field="*{newBid}">
            <p th:if="${#fields.hasErrors('newBid')}" th:errors="*{newBid}" class="error"></p>
        </div>
        <p th:if="${errors != null}" th:text="${errors}" class="error"></p>
        <input type="submit" value="Отправить">
    </form>
</div>
</body>
</html>