<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Аукцион</title>
    <link rel="stylesheet" href="/static/home.css">.
</head>
<header>
    <div>
        <a th:href="@{/v1/auction/createAuctionForm}" >Создать слот</a>
        <a th:href="@{/v1/auction/personalArea}">Ваш профиль</a>
    </div>
</header>
<body>
<div class="container">
    <div th:each="auction:${auctions}" class="slot">
        <img th:src="${auction.photoUrl}">
        <p th:text="${auction.title}"></p>
        <p th:text="${auction.price}"></p>
        <p>Аукцион продлится с <p th:text="${auction.startDate}"></p> <p th:text="${auction.startTime}"></p> до <p th:text="${auction.endDate}"></p><p th:text="${auction.endTime}"></p>
        </p>
        <a th:href="@{/v1/auction/info/{uniqueCode}(uniqueCode=${auction.uniqueCode})}">Подробнее</a>
    </div>
</div>
</body>
</html>
