<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/static/personalArea.css">.
</head>
<header>
    <div class="user-info" th:object="${user}">
        <h3>Информация о пользователе</h3>
        <p th:text="*{firstName}"></p>
        <p th:text="*{lastName}"></p>
        <p th:text="*{email}"></p>
    </div>
</header>
<body>
<div class="container">
    <div class="auctions">
        <h3>Ваши аукционы</h3>
        <div th:each="auction:${allAuctions}">
            <p th:text="${auction.title}"></p>
            <p th:text="${auction.price}"></p>
        </div>
    </div>
    <div class="bids">
        <h3>Ваши ставки</h3>
        <div th:each="bid:${allBids}">
            <p th:text="${bid.uniqueCode}"></p>
            <p th:text="${bid.newBid}"></p>
        </div>
    </div>
</div>
</body>
</html>