<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/registration.css">.
</head>
<body>
<div class="container">
    <h2>Регистрация</h2>
    <form th:action="@{/v1/auction/security/sendUserInfo}" method="post" th:object="${user}">
        <div>
            <label for="username">Введите имя пользователя</label>
            <input type="text" name="username" id="username" th:field="*{username}">
            <p th:if="${#fields.hasErrors('username')}" th:errors="${username}" class="error"></p>
        </div>
        <div>
            <label for="firstName">Введите имя</label>
            <input type="text" name="firstName" id="firstName" th:field="*{firstName}">
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="${firstName}" class="error"></p>
        </div>
        <div>
            <label for="lastName">Введите фамилию</label>
            <input type="text" name="lastName" id="lastName" th:field="*{lastName}">
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="${lastName}" class="error"></p>
        </div>
        <div>
            <label for="email">Введите почту пользователя</label>
            <input type="text" name="email" id="email" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:errors="${email}" class="error"></p>
        </div>
        <div>
            <label for="password">Введите пароль</label>
            <input type="password" name="password" id="password" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="${password}" class="error"></p>
        </div>
        <div>
            <label for="phone">Введите номер телефона</label>
            <input type="text" name="phone" id="phone" th:field="*{phone}">
            <p th:if="${#fields.hasErrors('phone')}" th:errors="${phone}" class="error"></p>
        </div>
        <div>
            <label for="address">Введите адрес</label>
            <input type="text" name="address" id="address" th:field="*{address}">
            <p th:if="${#fields.hasErrors('address')}" th:errors="${address}" class="error"></p>
        </div>
        <div>
            <label for="numberOfCard">Введите номер карты</label>
            <input type="text" name="numberOfCard" id="numberOfCard" th:field="*{numberOfCard}">
            <p th:if="${#fields.hasErrors('numberOfCard')}" th:errors="${numberOfCard}" class="error"></p>
        </div>
        <p th:if="${errors != null}" th:text="${errors}" class="error"></p>
        <input type="submit" value="Зарегистрироваться">
    </form>
</div>
</body>
</html>